.container_desktop {
    @media (max-width: 428px) {
        display: none;
    }
}

.homepage {
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.hero {
    display: flex;
    height: min(920px, 95vh);
    width: 100%;
    //background: url("/herobg.png");
    background-image: linear-gradient(315deg, #b5d1fc, #f8d4da 74%);
    background-size: cover;
    border-radius: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .title {
        display: flex;
        align-items: center;
        height: fit-content;

        h3 {
            font-weight: 800;
            font-size: 64px;
            margin: 0;
        }

        .titleBlue {
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-left: 1rem;
        }
    }

    .subTitle {
        font-weight: 400;
        font-size: 25px;
        max-width: 846px;
        text-align: center;
        margin: 0;
        margin-top: 24px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        img {
            width: 20px;
            margin-right: 8px;
        }

        margin-top: 65.5px;
        font-weight: 500;
        font-size: 20px;
        color: white;
        border-radius: 100px;
        border: none;
        width: 350px;
        height: 65px;
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    }
}

.sec2 {
    display: flex;
    // justify-content: center;
    // grid-template-columns: 313px 313px 642px;
    // grid-row: 214px 214px;
    // grid-template-areas:
    //     "a b c"
    //     "a b d";
    // column-gap: 20px;
    // row-gap: 20px;
    width: 1300px;
    margin-top: 31px;
    margin-bottom: 65px;
    flex-direction: column;
    row-gap: 16px;

    .r1,
    .r2 {
        width: 100%;
        height: 201px;
    }

    .r1 {
        display: flex;
        justify-content: space-between;
        padding: 40px 64px;
        span {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h3,
            p {
                margin: 0;
                color: white;
            }
            h3 {
                margin-bottom: 10px;
                font-weight: 600;
                font-size: 40px;
            }
            p {
                font-weight: 500;
                font-size: 25px;
                width: 291px;
                text-align: center;
            }
        }
    }

    .r2 {
        padding: 0;
        display: flex;
        justify-content: space-between;
        span {
            display: flex;
            width: 422px;
            height: 201px;
            background-size: contain;
            padding: 32px;

            h3 {
                color: #f6f6f6;
                font-family: "Inter";
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
                width: 320px;
                margin: 0;
            }

            img {
                position: absolute;
            }

            .text_red {
                background: linear-gradient(90deg, #eb6079 0%, #ee5193 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: "Inter";
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
                margin: 0;
                padding: 0;
            }

            .text_lpurple {
                color: #e79ed8;
                font-family: "Inter";
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
                margin: 0;
                padding: 0;
                width: 340px;
                height: min-content;
            }

            .text_purple {
                color: #c09dff;
                font-family: "Inter";
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
                margin: 0;
                height: auto;
                width: auto;
                padding: 0;
            }

            .text_gold {
                color: #f8ed89;
                font-family: "Inter";
                font-weight: 400;
                font-size: 25px;
                line-height: 120%;
                margin: 0;
                height: auto;
                width: auto;
                padding: 0;
            }
        }
    }

    div {
        border-radius: 32px;
        padding: 24px;
        position: relative;
        background-size: cover !important;

        h3 {
            color: #f6f6f6;
            font-family: "Inter";
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            margin: 0;
        }

        img {
            position: absolute;
        }

        .text_red {
            background: linear-gradient(90deg, #eb6079 0%, #ee5193 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Inter";
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            margin: 0;
        }

        .text_lpurple {
            background: linear-gradient(90deg, #e79ed8 0%, #e47ecf 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Inter";
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            margin: 0;
        }

        .text_purple {
            background: linear-gradient(90deg, #d78dee 0%, #ca97da 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Inter";
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            margin: 0;
        }

        .text_gold {
            background: linear-gradient(90deg, #ece49b 0%, #f8ed89 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: "Inter";
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            margin: 0;
        }
    }
}

.sec3 {
    display: flex;
    width: min(1392px, 100%);
    height: max-content;
    padding: 42px 30px;
    flex-direction: column;
    align-items: center;

    .sec3Title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1,
        p {
            margin: 0;
        }

        h1 {
            font-weight: 700;
            font-size: 48px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            margin-top: 18px;
            line-height: 19px;
        }
        .blueText {
            margin-top: 4px;
            color: #3065f3;
            text-decoration: underline;
        }
    }

    .tagtabs {
        display: flex;
        width: 100%;
        margin-top: 43px;
        justify-content: center;

        .tab {
            padding: 8px 24px;
            border: 1px solid #c7c7c7;
            border-radius: 142px;
            font-weight: 500;
            font-size: 14px;
            height: 38px;
            display: flex;
            width: max-content;
            line-height: 0;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            margin: 0 16px;
            cursor: pointer;
        }

        .selected {
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            color: white;
        }
    }

    .daoListContainer {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 35px;
        //justify-content: center;

        .daoCard {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            width: 249.85px;
            //  height: 280.75px;
            // height: 314px;
            background-color: rgba(107, 107, 107, 0.428);
            border-radius: 25.3785px;
            margin: 23.5px 6.5px;
            overflow: hidden;
            // box-shadow: 0px 3.17231px 12.6892px rgba(51, 51, 51, 0.397), 0px 3.17231px 3.17231px rgba(51, 51, 51, 0.24);
            animation: appear 0.35s ease-in-out forwards;
            outline: 2px solid rgba(48, 100, 243, 0);
            transition: all 0.25s ease-in-out;
            &:hover {
                outline: 2px solid rgba(48, 101, 243, 1);
            }
        }

        .rating {
            display: flex;
            align-items: center;
            .noReviews {
                font-weight: 400;
                font-size: 13px;
                margin-left: 8px;
                margin-top: 15px;
            }
        }

        .ratingBox {
            color: white;
            width: 44.69px;
            height: 23px;
            margin: 0;
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            border-radius: 4px;
            align-items: center;
            padding: 4px;
            justify-content: space-evenly;
            position: relative;
            margin-top: 16px;
            img {
                width: 12.69px;
                margin: 0;
                position: absolute;
                right: 5px;
                top: 5px;
            }
            p {
                font-weight: 500;
                font-size: 12px !important;
                margin-left: 2px !important;
            }
        }

        .cardCover {
            display: flex;
            width: 100%;
            height: 163px;
            object-fit: cover;
        }

        .info {
            display: flex;
            width: 100%;
            height: 117.75px;
            height: 132px;
            background-color: black;
            // margin-top: auto;
            flex-direction: column;
            padding: 16px;
            p {
                color: white;
                font-weight: 500;
                font-size: 19.8269px;
                margin: 0;

                img {
                    top: 10px;
                    height: 15px;
                }
            }

            .socialIcon {
                display: flex;
                margin-left: 3px;
                margin-top: 17.5px;
                img {
                    width: 16px;
                    margin-left: 13px;
                    object-fit: contain;
                }

                p {
                    color: #8c8c8c;
                    font-weight: 500;
                    font-size: 12px;
                    margin: 0;
                    margin-left: 4px;
                }
            }
        }
    }

    .seeMoreBtn {
        width: 190px;
        height: 56px;
        border-radius: 32px;
        border: none;
        background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
        border: 2px solid #3065f3;
        font-weight: 400;
        font-size: 20px;
        margin-top: 60px;
        margin-bottom: 65px;
        transition: all 0.15s ease-in-out;
        &:hover {
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            color: white;
        }

        &:focus {
            background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
            outline: thick double #3065f3;
            color: white;
        }
    }
}

.leaderboard {
    display: flex;
    width: 1392px;
    height: max-content;
    background: #121212;
    border-radius: 32px;
    background-image: url("/leaderboard-grad.png");
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    .leaderboardTitle {
        color: white;
        font-weight: 700;
        font-size: 48px;
        margin: 0;
        margin-top: 80px;
    }

    .tableHead {
        display: flex;
        width: 1081px;
        margin-top: 60px;
        // border: 1px solid white;
        p {
            color: #cccccc;
            font-weight: 400;
            font-size: 20px;
        }

        .th1 {
            width: 215px;
        }
        .th2 {
            width: 452px;
        }
        .th3 {
            width: 215px;
        }
        .th4 {
            width: 181px;
        }
    }

    .tableBody {
        display: flex;
        width: 1081px;
        align-items: center;
        border-bottom: 1px solid #4a4a4a;
        padding-bottom: 14px;
        margin-top: 21px;
        span {
            color: #ffffff;
            font-weight: 500;
            font-size: 16px;
        }

        .tb1 {
            width: 220px;
            display: flex;

            img {
                width: 32px;
                object-fit: contain;
                margin-left: 16px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
            }
        }
        .tb2 {
            width: 410px;
        }
        .tb3 {
            width: 240px;
            display: flex;
            align-items: center;

            p {
                margin: 0;
                margin-top: 11px;
            }
        }
        .tb4 {
            width: 181px;
            img {
                width: 20px;
                margin-top: 8px;
                margin-right: 16px;
            }
        }
    }
}

.reviews {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 233px;
    position: relative;

    .floathdown {
        position: absolute;
        right: 0;
        height: 199px;
        top: 80px;
    }
    .floathup {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 304px;
    }

    .reviewTitle {
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-top: 110px;
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 0;
    }
    .reviewCon {
        display: flex;
        margin-top: 56px;
    }
    .reviewCard {
        display: flex;
        flex-direction: column;
        width: 313px;
        height: 401px;
        background: #e5cce0;
        border-radius: 32px;
        margin: 0 8px;
        padding: 32px;
        position: relative;
        p {
            margin: 0;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 4px !important;
        }

        .commaFloat {
            position: absolute;
            top: 15px;
            left: 20px;
            width: 49.5px;
            opacity: 0.15;
        }
    }

    .r2 {
        background: #bbccdf;
    }

    .r3 {
        background: #e2ccbc;
    }

    .profile {
        display: grid;
        width: 128px;
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content max-content;
        grid-template-areas: "a b" "a c" "a d";
        margin-top: auto;

        .profileImg {
            width: 56px;
            height: 56px;
            border-radius: 100%;
            margin-right: 15px;
            margin-top: 15px;
            margin-bottom: auto;
        }
        p {
            margin: 0;
            margin-top: 5px;
            font-weight: 600;
            font-size: 16px;
        }

        .dao_name {
            font-weight: 400;
            font-size: 16px;
            margin-top: 0;
        }

        .ratingComp {
            margin-top: -8px;
            img {
                filter: invert(100%);
                width: 20px;
                height: 20px;
            }
        }
    }
}

.footer {
    display: flex;
    width: 100%;
    height: 531px;
    background: #121212;
    border-radius: 32px;
    background-image: url("/footerGridLines.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footerTitle {
        font-weight: 500;
        font-size: 40px;
        color: #f7f7f7;
        text-align: center;
        margin-bottom: 30px;
    }

    .footerSubTitle {
        color: #f6f6f6;
        font-weight: 500;
        font-size: 16px;
    }

    .socialIcon {
        margin-top: 0;
        align-items: center;
        img {
            width: 29.25px;
            margin: 0 4px;
            margin-top: 0;
        }
    }

    @media (max-width: 428px) {
        width: 95vw;
        height: 177px;
        margin-bottom: 15px;
        border-radius: 7.90805px;

        .footerTitle {
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            width: 210px;
        }

        .footerSubTitle {
            font-size: 10px;
            line-height: 12px;
        }
    }
}

.ratingComp {
    display: flex;
    width: fit-content;
    height: fit-content;

    img {
        width: 16px;
        height: 16px;
        margin-right: 6px;
        margin-top: 9.5px;
        object-fit: contain;
    }
}

.nav {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    margin-top: 20px;
    padding: 0 50px;

    top: 0;
    .logo {
        height: 35.51px;
    }

    ul {
        display: flex;
        list-style: none;
        font-weight: 500;
        font-size: 16px;
        color: black;
        margin: 0;
        padding: 0;
        height: fit-content;
        align-items: center;
        margin-left: auto;
        li {
            color: black;
            margin: 0 34px;
            font-weight: 500;
            font-size: 16px;
        }

        button {
            width: 190px;
            height: 51px;
            background: transparent;
            border: 2px solid #3065f3;
            margin-top: 0;
            color: #121212;
            font-weight: 500;
            font-size: 16px;
            border-radius: 100px;
        }
    }
}

.searchComp {
    margin-top: 48px;
    display: flex;
    width: 604px;
    height: 65px;
    position: relative;

    input {
        background: #f7f7f7;
        border-radius: 100px;
        width: 604px;
        height: 65px;
        border: none;
        padding-left: 75px;
        border: 2px solid rgb(216, 216, 216);
        position: absolute;
        font-weight: 500;
        font-size: 20px;
        color: black;

        &::placeholder {
            color: rgb(0, 0, 0);
            font-weight: 400;
            font-size: 16px;
        }

        &:focus,
        &:hover {
            outline: none;
            border: 2px solid rgba(48, 101, 243, 1);
        }
    }

    .searchIcon {
        height: 28px;
        width: 28px;
        left: 38px;
        top: 20px;
        bottom: 0px;
        position: absolute;
    }

    .suggestionCon {
        display: flex;
        flex-direction: column;
        width: 600px;
        background: white;
        border-radius: 16px;
        position: absolute;
        height: max-content;
        top: 40px;
        box-shadow: 0 0 12px rgb(190, 190, 190);
        z-index: 100;
    }

    .suggestion {
        cursor: pointer;
        padding-top: 35px;
        margin: auto 0;
        padding-left: 16px;
        display: grid;
        min-height: 162px;
        grid-template-columns: max-content max-content;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
            "a b"
            "a c"
            "a d";
        img {
            width: 91px;
            height: 91px;
            border-radius: 100%;
            margin-right: 24px;
            object-fit: cover;
            box-shadow: 0 0 5px rgb(167, 167, 167);
        }

        h1,
        h2,
        p {
            margin: 0;
        }

        h1 {
            font-weight: 500;
            font-size: 25px;
        }

        h2 {
            font-weight: 400;
            font-size: 16px;
        }

        p {
            font-weight: 400;
            font-size: 14px;
        }
        border-bottom: 1.5px solid rgb(207, 207, 207);

        &:hover {
            background-color: rgba(85, 143, 252, 0.103);
        }
    }

    @media (max-width: 428px) {
        width: 303px;
        height: 44px;
        margin-top: 24px;
        input {
            width: 303px;
            height: 44px;
            font-weight: 400;
            font-size: 14px;
            padding-left: 45px;

            &::placeholder {
                color: rgb(179, 179, 179);
            }
        }

        .searchIcon {
            height: 24px;
            width: 24px;
            left: 15px;
            top: 10px;
            bottom: 0px;
            position: absolute;
        }

        .suggestionCon {
            width: 300px;
            top: 25px;
        }

        .suggestion {
            padding-top: 20px;
            margin: auto 0;
            margin-left: 16px;
            display: grid;
            min-height: 100px;
            grid-template-columns: max-content max-content;
            grid-template-rows: max-content max-content max-content;
            grid-template-areas:
                "a b"
                "a c"
                "a d";
            img {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                margin-right: 24px;
            }

            h1,
            h2,
            p {
                margin: 0;
            }

            h1 {
                font-weight: 500;
                font-size: 20px;
            }

            h2 {
                font-weight: 400;
                font-size: 12px;
            }

            p {
                font-weight: 400;
                font-size: 14px;
            }
            border-bottom: 1.5px solid rgb(207, 207, 207);
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container_mobile {
    @media (min-width: 428px) {
        display: none;
    }

    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .m_hero {
        display: flex;
        width: 100%;
        height: 450px;
        background-image: linear-gradient(315deg, #b5d1fc, #f8d4da 74%);
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            margin: 0 auto;
            margin-top: 120px;

            h3 {
                font-weight: 800;
                font-size: 32px;
                margin: 0;
            }

            .titleBlue {
                background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .subTitle {
            font-weight: 500;
            font-size: 14px;
            max-width: 300px;
            text-align: center;
            margin: 0;
            margin-top: 12px;
        }
    }

    .infoCards {
        display: flex;
        width: 100%;
        margin-top: 15px;
        justify-content: center;

        .infoCard {
            display: flex;
            width: 106.33px;
            height: 128px;
            background: #121212;
            border-radius: 16px;
            margin: 0 6px;
            background-size: contain;
        }
    }

    .m_daoListContainer {
        display: flex;
        width: 100%;
        margin-top: 64px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-weight: 700;
            font-size: 24px;
            margin: 0 auto;
        }

        select {
            min-width: 50px;
            height: 30px;
            border: 1.25px solid #888888;
            font-weight: 500;
            font-size: 14px;
            border-radius: 5px;
            margin-top: 12px;
            padding: 0 5px;
            color: rgb(0, 0, 0);
            background-color: white;
            margin-right: auto;
            margin-left: 4vw;
            margin-bottom: 10px;
        }

        .m_daoList {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .seeMoreBtn {
                width: 190px;
                height: 56px;
                border-radius: 32px;
                border: none;
                background: linear-gradient(90deg, #ffffff 0%, #ffffff 100%);
                border: 2px solid #3065f3;
                font-weight: 400;
                font-size: 20px;
                margin-top: 40px;
                margin-bottom: 65px;
                transition: all 0.15s ease-in-out;
                &:hover {
                    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                    color: white;
                }

                &:focus {
                    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                    outline: thick double #3065f3;
                    color: white;
                }
            }
        }
    }

    .leaderboard {
        width: 95%;
        border-radius: 15px;
        margin: 0 15px;
        margin-top: 24px;
        margin-bottom: 70px;
        align-items: baseline;

        padding: 37px 35px;
        padding-bottom: 5px;

        .m_leaderboard_row {
            display: flex;
            width: 100%;
            padding-bottom: 16px;
            border-bottom: 1.5px solid rgb(90, 90, 90);
            margin-bottom: 16px;
        }

        .m_leaderboardEntry {
            color: white;
            width: 183px;
            display: grid;
            grid-template-columns: max-content max-content;
            grid-template-rows: max-content max-content;
            grid-template-areas: "a b" " a c";
            position: relative;

            h3 {
                font-weight: 500;
                font-size: 16px;
                margin: 0;
            }

            .medal {
                width: 30px;
                margin-right: 6px;
            }

            .noReviews {
                margin: 0;
                position: absolute;
                right: 0;
                bottom: 0;
                font-weight: 500;
                font-size: 12px;
            }
        }
    }

    .recentReviews {
        margin-top: 24px;
        margin-bottom: 60px;
        overflow-x: auto;
        display: flex;
        width: 100%;
        .reviewCon {
            display: flex;
            margin-top: 56px;
        }
        .reviewCard {
            display: flex;
            flex-direction: column;
            min-width: 313px;
            height: 350px;
            background: #e5cce0;
            border-radius: 32px;
            margin: 0 8px;
            padding: 32px;
            position: relative;
            p {
                margin: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 4px !important;
            }

            .commaFloat {
                position: absolute;
                top: 15px;
                left: 20px;
                width: 49.5px;
                opacity: 0.15;
            }
        }

        .profile {
            display: grid;
            width: 128px;
            grid-template-columns: max-content max-content;
            grid-template-rows: max-content max-content;
            grid-template-areas: "a b" "a c" "a d";
            margin-top: auto;

            .profileImg {
                width: 56px;
                height: 56px;
                border-radius: 100%;
                margin-right: 15px;
                margin-top: 15px;
                margin-bottom: auto;
            }
            p {
                margin: 0;
                margin-top: 5px;
                font-weight: 600;
                font-size: 16px;
            }

            .dao_name {
                font-weight: 400;
                font-size: 16px;
                margin-top: 0;
            }

            .ratingComp {
                margin-top: -8px;
                img {
                    filter: invert(100%);
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .r2 {
            background: #bbccdf;
        }

        .r3 {
            background: #e2ccbc;
        }
    }
}
