// @media (max-width: 470px) {
// }

.con {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: #f6f6f6;
    align-items: center;
    padding: 0 33px;
    padding-bottom: 33px;
    padding-top: 200px;
    @media (max-width: 470px) {
        padding-top: 100px;
        padding-bottom: 0;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 70px;
    padding-bottom: 210px;
    @media (max-width: 470px) {
        padding: 0 0px;
        padding-bottom: 100px;
    }

    .title {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 0;
        @media (max-width: 470px) {
            font-size: 20px;
        }
    }

    .subtitle {
        font-weight: 400;
        font-size: 20px;
        margin-top: 16px;
        margin-bottom: 50px;
        @media (max-width: 470px) {
            font-size: 10px;
        }
    }

    .input {
        p {
            font-weight: 400;
            font-size: 16px;
            @media (max-width: 470px) {
                font-size: 14px;
            }
        }

        input,
        textarea {
            background: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: border-box;
            border-radius: 16px;
            width: 772px;
            height: 56px;
            margin-bottom: 40px;
            padding: 16px 16px;
            font-weight: 400;
            font-size: 20px;
            font-family: "Inter", sans-serif;
            &::placeholder {
                color: #a7a7a7;
            }
        }

        @media (max-width: 470px) {
            input,
            textarea {
                width: 80vw;
                font-size: 14px;
                height: 40px;
                border-radius: 8px;
            }
            textarea {
                height: auto;
            }
        }
    }

    .uploadImage {
        display: flex;
        width: 772px;
        justify-content: space-between;
        margin-bottom: 40px;

        label {
            display: flex;
            width: 342px;
            flex-direction: column;
            align-items: center;

            p {
                font-weight: 400;
                font-size: 16px;
            }

            img {
                width: 342px;
                height: 216px;
                object-fit: contain;
                background-color: white;
                border-radius: 15px;
            }

            input[type="file"] {
                height: 0px;
                opacity: 0;
            }
        }
    }
    .fourCfourR {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 772px;
        column-gap: 76px;

        .input {
            input {
                width: 347px;
                font-size: 16px;
            }
        }

        @media (max-width: 470px) {
            display: flex;
            flex-direction: column;
            width: fit-content;
            .input {
                input {
                    width: 80vw;
                    font-size: 16px;
                }
            }
        }
    }
}

.submit {
    border-radius: 32px;
    width: 204px;
    height: 51px;
    border: 1.8px solid rgb(48, 100, 243);
    margin-right: 12px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 0 40px;
    background: linear-gradient(90deg, #5e1ed1 0%, rgb(48, 101, 243) 100%);
    color: white;
    margin-top: 64px;

    @media (max-width: 470px) {
        margin-top: 10px;
    }
}

.loader {
    display: flex;
    width: 100%;
    min-height: 100%;
    position: fixed;
    background-color: #a1a1a19d;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        padding: 1rem 3rem;
    }

    img {
        height: 80px;
        width: 80px;
    }

    h1 {
        color: rgb(0, 0, 0);
        max-width: 80vw;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        max-width: 300px;
    }
}
.inputTitle {
    font-weight: 400;
    font-size: 16px;
    @media (max-width: 470px) {
        font-size: 14px;
    }
}

.categoryCon {
    display: flex;
    align-items: center;

    input {
        background: #ffffff;
        border: 1px solid #dddddd;
        box-sizing: border-box;
        width: 500px;
        height: 56px;
        padding: 16px 16px;
        font-weight: 400;
        font-size: 20px;
        font-family: "Inter", sans-serif;
        border-radius: 16px 0 0 16px;
        &::placeholder {
            color: #a7a7a7;
        }

        @media (max-width: 470px) {
            width: 65vw;
        }
    }
    .addBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: 56px;
        margin: 0;
        padding: 0;
        max-width: 80px;
        font-size: 15px;
        width: 15vw;
        border: none;
        color: white;
        background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
        border-radius: 0 16px 16px 0;
        cursor: pointer;
    }
}

.categoryList {
    display: flex;
    max-width: 600px;
    width: 80vw;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
    margin-bottom: 30px;
}

.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    color: white;
    border-radius: 15px;
    padding: 5px 15px;
    padding-right: 5px;
    margin-top: 10px;
    img {
        height: 20px;
        margin-left: 5px;
        filter: invert(500%);
        margin-top: 3px;
    }
}

// connect wallet

.walletCon {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: 1000000;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.walletModal {
    display: flex;
    width: 539px;
    height: auto;
    background: #ffffff;
    z-index: 1000;
    box-shadow: 0px 40px 250px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    animation: grow 0.5s ease-in-out forwards;
    .closeIcon {
        position: absolute;
        height: 28px;
        width: 28px;
        right: 0;
        top: 0;
        margin: 25px;
        cursor: pointer;
    }

    @media (max-width: 470px) {
        width: 90vw;
    }
}


.walletCon {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: 1000000;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.walletModal {
    display: flex;
    width: 539px;
    height: auto;
    background: #ffffff;
    z-index: 1000;
    box-shadow: 0px 40px 250px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    animation: grow 0.5s ease-in-out forwards;
    .closeIcon {
        position: absolute;
        height: 28px;
        width: 28px;
        right: 0;
        top: 0;
        margin: 25px;
        cursor: pointer;
    }

    @media (max-width: 470px) {
        width: 90vw;
    }
}

.wallets {
    width: 100%;
    .title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 32px;
        margin: 30px 32px 0 32px;
    }
    .subTitle {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        margin: 0 32px;
        margin-top: 10px;
    }

    .box {
        display: flex;
        width: 100%;
        height: 292px;
        background: #f2f5ff;
        margin-top: 28px;
        padding: 60px 39px;
        flex-direction: column;
        border-radius: 32px 32px 0 0;
    }

    .option {
        display: flex;
        //   background: #dae2fd;
        width: 460px;
        height: 80px;
        border-bottom: 1.35px solid rgb(192, 162, 247);
        align-items: center;
        padding: 0 15px;
        cursor: pointer;
        img {
            width: 39px;
            object-fit: contain;
            margin-right: 33px;
        }
        p {
            font-weight: 500;
            font-size: 20px;
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            transition: all 0.3s ease-in-out;
            background: #dae2fd;
            border-bottom: 1.35px solid rgb(133, 67, 255);
        }
    }

    @keyframes grow {
        0% {
            transform: scale(0.7);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @media (max-width: 470px) {
        width: 90vw;
        font-size: 3.5vw;
        .title {
            font-size: 5vw;
        }
        .option {
            p {
                font-size: 5vw;
            }
        }
    }
}

.connectWalletModel {
    @extend .walletCon;
}

.connectBtn {
    display: flex;
    width: 470px;
    height: 56px;
    border-radius: 32px;
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 34.09px;
        object-fit: contain;
    }
    p {
        color: white;
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        margin-left: 15px;
    }

    @media (max-width: 470px) {
        width: 80vw;
        p {
            font-size: 4.5vw;
        }
    }
}