.daoCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 249.85px;
    background-color: rgba(107, 107, 107, 0.425);
    border-radius: 25.3785px;
    margin: 23.5px 6.5px;
    overflow: hidden;
    animation: appear 0.35s ease-in-out forwards;
    outline: 2px solid rgba(48, 100, 243, 0);
    transition: all 0.25s ease-in-out;
    &:hover {
        outline: 2px solid rgba(48, 101, 243, 1);
    }
}

.rating {
    display: flex;
    align-items: center;
    .noReviews {
        font-weight: 400;
        font-size: 13px;
        margin-left: 8px;
        margin-top: 15px;
    }
}

.ratingBox {
    color: white;
    width: 44.69px;
    height: 23px;
    margin: 0;
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    border-radius: 4px;
    align-items: center;
    padding: 4px;
    justify-content: space-evenly;
    position: relative;
    margin-top: 16px;
    img {
        width: 12px;
        height: 12px;
        margin: 0;
        position: absolute;
        right: 4px;
        top: 5px;
    }
    p {
        font-weight: 500;
        font-size: 12px !important;
        margin-left: 2px !important;
    }
}

.cardCover {
    display: flex;
    width: 100%;
    height: 163px;
    object-fit: cover;
}

.info {
    display: flex;
    width: 100%;
    height: 117.75px;
    height: 132px;
    background-color: black;
    // margin-top: auto;
    flex-direction: column;
    padding: 16px;
    p {
        color: white;
        font-weight: 500;
        font-size: 19.8269px;
        margin: 0;

        img {
            top: 10px;
            height: 15px;
        }
    }

    .socialIcon {
        display: flex;
        margin-left: 3px;
        margin-top: 17.5px;
        img {
            width: 16px;
            margin-left: 13px;
            object-fit: contain;
        }

        p {
            color: #8c8c8c;
            font-weight: 500;
            font-size: 12px;
            margin: 0;
            margin-left: 4px;
        }
    }
}

@media (max-width: 425px) {
    .daoCard {
        width: 164px;
        height: 193.52px;
        border-radius: 15.744px;
        margin: 17px 6.5px;
    }

    .cardCover {
        height: 106.93px;
    }

    .info {
        height: 86.59px;
        padding: 10px 10.9px;

        p {
            font-weight: 500;
            font-size: 13.0065px;

            img {
                top: 10px;
                height: 11px;
            }
        }

        .socialIcon {
            margin-top: 11.5px;

            img {
                width: 11px;
                margin-left: 8px;
                object-fit: contain;
            }

            p {
                color: #8c8c8c;
                font-weight: 500;
                font-size: 7.872px;
                margin: 0;
                margin-left: 4px;
            }
        }
    }

    .rating {
        .noReviews {
            font-weight: 400;
            font-size: 7.872px;
            margin-left: 8px;
            margin-top: 8px;
        }
    }

    .ratingBox {
        width: 32.85px;
        height: 15.25px;
        margin-top: 9px;
        align-items: center;
        position: relative;
        img {
            width: 8.32px;
            height: 7.97px;
            margin: 0;
            position: absolute;
            right: 4px;
            top: 3.5px;
        }

        p {
            font-weight: 500;
            font-size: 7.872px !important;
            padding-bottom: 5px !important;
            position: absolute;
            top: 2.9px;
            left: 2px;
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
