.con {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background-color: #f6f6f6;
    flex-direction: column;
}

.cover {
    display: flex;
    width: 100%;
    height: 426px;
    background: gainsboro;
    margin-top: 111px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gradient {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000d3 100%);
    }
}

.ratingComp {
    display: flex;
    width: fit-content;
    height: fit-content;

    img {
        width: 26px;
        height: 26px;
        margin-right: 8px;
        margin-top: 9.5px;
        object-fit: contain;
    }
}

.daoInfo {
    position: absolute;
    bottom: 31px;
    left: 46px;
    h1 {
        color: white;
        margin-bottom: 0;
        font-size: 40px;

        img {
            height: 24.5px;
            width: min-content;
            object-fit: contain;
            margin-bottom: 2px;
        }
    }

    .tags {
        display: flex;
        span {
            display: flex;
            width: 127px;
            height: 28px;
            background: #ebe3f8;
            border-radius: 32px;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            border: 1.8px solid #3065f3;
            margin-top: 17.1px;
            margin-right: 8px;
            line-height: 0;
            text-transform: capitalize;
        }
    }
}

.titleBar {
    display: flex;
    width: 100%;
    // margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    h1 {
        font-weight: 500;
        font-size: 25px;
        border-bottom: 3px solid #3065f3;
        margin-top: 0;
    }

    .btns {
        display: flex;
        align-items: center;
        button {
            border-radius: 32px;
            //min-width: 223px;
            height: 39px;
            border: 1.8px solid rgb(48, 100, 243);
            margin-right: 12px;
            font-weight: 400;
            line-height: 24px;
            padding: 0 40px;
            background: linear-gradient(90deg, #5e1ed1 0%, rgb(48, 101, 243) 100%);
            color: white;
            font-size: 16px;
            &:hover {
                background: linear-gradient(90deg, #4910ae 0%, #1248d9 100%);
            }

            &:focus {
                outline: thick double #3065f3;
            }
        }
    }
}

.subRatingCon {
    display: flex;
    flex-direction: row;
    align-items: center;
    .subRating {
        font-size: 20px;
        font-weight: 400;
        margin-top: 10px;
        color: white;
    }
}

.contentCon {
    display: flex;
    width: 1300px;
    margin-top: 30px;

    .content {
        display: flex;
        flex-direction: column;
        width: 793px;
        .dials {
            display: flex;
            width: 100%;
            height: auto;
            border-radius: 32px;
            background-color: white;
            align-items: center;
            padding: 32px 0;
            position: relative;
            flex-direction: column;

            button {
                transition: all 0.35s ease-in-out;
                position: absolute;
                border: none;
                background-color: transparent;
                display: flex;
                width: 48px;
                height: 48px;
                border-radius: 100%;
                right: 16px;
                background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
                border-radius: 147px;
                align-items: center;
                justify-content: center;
                img {
                    width: 16px;
                    object-fit: contain;
                    filter: invert(100%);
                }
            }
            .dialRow {
                display: flex;
                align-items: center;
                animation: appear 0.5s ease-in-out forwards;
            }
        }

        .dialCon {
            display: flex;
            align-items: center;
            margin-right: 24px;
            p {
                margin-left: 12px;
                font-weight: 500;
                font-size: 16px;
                width: 135px;
            }
        }
    }
}

.dl {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    width: 71px;
    position: relative;
    transform: rotate(270deg);

    .percentText {
        position: absolute;
        left: 0;
        right: 0;
        font-weight: 600;
        font-size: 14.336px;
        line-height: 0;
        text-align: center;
        margin-bottom: 6px;
        transform: rotate(90deg);
    }
}

.comment {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: white;
    padding: 32px;
    width: 100%;
    margin-top: 24px;

    .commentText {
        width: 682px;
        margin: 0;
        margin-top: 16px;
        margin-left: 52px;
    }

    .profileName {
        display: grid;
        grid-template-columns: max-content min-content;
        grid-template-rows: max-content max-content;
        grid-template-areas: "a b" "a c";

        h1 {
            font-weight: 500;
            font-size: 18px;
            margin: 0;
            color: rgb(0, 0, 0);
        }

        .ratingComp {
            filter: invert(100%);
            img {
                width: 16px;
                height: 20px;
                margin-top: 0;
            }
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-right: 10px;
        }
    }

    .likes {
        display: flex;
        margin-left: 52px;
        margin-top: 26px;
        span {
            display: flex;
            img {
                width: 18.62px;
                object-fit: contain;
                margin-right: 4.5px;
            }
            p {
                margin: 0;
                margin-right: 25px;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
}

.rightNav {
    display: flex;
    width: 459px;
    margin-left: 48px;
    flex-direction: column;
}

.socials {
    width: 100%;
    //height: 155px;
    background: #121212;
    border-radius: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 21.5px 25.5px;
    padding-bottom: 0;
    grid-template-areas: "a b" "c d" "e e";
    justify-items: center;
    button {
        width: 192px;
        height: 44px;
        border-radius: 32px;
        margin-bottom: 24px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 26.5px;
        background-color: black;
        border: 1.5px solid white;
        transition: all 0.25s ease-in-out;
        img {
            width: 28px;
            object-fit: contain;
        }
        p {
            margin: 0;
            font-weight: 500;
            font-size: 16px;
            color: white;
            margin-left: 8px;
        }
    }

    .twitterBtn {
        &:hover {
            background-color: #1da1f2;
        }
    }

    .discordBtn {
        &:hover {
            background-color: #4962fe;
        }
    }

    .webBtn {
        &:hover {
            filter: invert(100%);
        }
    }
}

.slug {
    margin-right: 0;
    background: white;
    color: black;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: e;
    width: 96% !important;
    color: white;
    .copy {
        display: flex;
        width: 20px;
        height: 20px;
        background-size: cover !important;
        background-repeat: no-repeat;
        background: url("/link.png");
        margin-right: 8px;
        margin-bottom: 2.5px;
    }

    .copyText {
        margin: 0;
        padding: 0;
    }
}

.daoInfoPane {
    display: flex;
    width: 100%;
    height: max-content;
    background: #121212;
    border-radius: 32px;
    margin-top: 24px;
    flex-direction: column;
    padding: 32px 24px;
    height: max-content;
    position: sticky;

    top: 120px;
    margin-bottom: 20px;
    .qn {
        display: flex;
        flex-direction: column;

        h3,
        p {
            color: white;
            margin: 0;
        }

        h3 {
            font-weight: 600;
            font-size: 20px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 32px;
            margin-top: 8px;
            width: 369px;
        }
    }
}

.seeMore {
    width: 223px;
    height: 51px;
    border-radius: 32px;
    color: #121212;
    font-weight: 400;
    font-size: 20px;
    border: 2px solid rgb(29, 75, 202);
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 45px;
}

.footer {
    padding: 77px;
    display: flex;
    height: 624px;
    flex-direction: column;
    align-items: center;
    background-image: url("/footer-bg.png");
    background-size: cover;

    h3 {
        font-weight: 700;
        font-size: 40px;
        margin: 0;
        margin-bottom: 20px;
        width: 1300px;
    }
    .daoList {
        display: flex;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.walletCon {
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.274);
    z-index: 1000;
    position: fixed;
}

.walletModal {
    display: flex;
    width: 539px;
    height: auto;
    background: #ffffff;
    z-index: 1000;
    box-shadow: 0px 40px 250px rgba(0, 0, 0, 0.16);
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    .closeIcon {
        position: absolute;
        height: 28px;
        width: 28px;
        right: 0;
        top: 0;
        margin: 25px;
        cursor: pointer;
    }
}

.wallets {
    width: 100%;
    .title {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 32px;
        margin: 30px 32px 0 32px;
    }
    .subTitle {
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        margin: 0 32px;
        margin-top: 10px;
    }

    .box {
        display: flex;
        width: 100%;
        height: 292px;
        background: #f2f5ff;
        margin-top: 28px;
        padding: 60px 39px;
        flex-direction: column;
        border-radius: 32px 32px 0 0;
    }

    .option {
        display: flex;
        //   background: #dae2fd;
        width: 460px;
        height: 80px;
        border-bottom: 1.35px solid rgb(192, 162, 247);
        align-items: center;
        padding: 0 15px;
        img {
            width: 39px;
            object-fit: contain;
            margin-right: 33px;
        }
        p {
            font-weight: 500;
            font-size: 20px;
        }

        &:hover {
            background: #dae2fd;
            border-bottom: 1.35px solid rgb(133, 67, 255);
        }
    }
}

.connectBtn {
    display: flex;
    width: 470px;
    height: 56px;
    border-radius: 32px;
    background: linear-gradient(90deg, #5e1ed1 0%, #3065f3 100%);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    img {
        width: 34.09px;
        object-fit: contain;
    }
    p {
        color: white;
        font-weight: 500;
        font-size: 20px;
        margin: 0;
        margin-left: 15px;
    }
}

.tokenAmountBox {
    display: flex;
    width: 475px;
    height: 100px;
    background: #f3f3f3;
    border-radius: 32px;
    margin: 0 auto;
    margin-top: 40px;
    flex-direction: column;
    padding: 5px 25px;
    .head {
        width: 100%;
        p {
            margin: 0;
            margin-top: 15px;
        }
    }
    .token {
        display: flex;
        align-items: center;
        img {
            width: 32px;
            height: 32px;
        }
        h2 {
            font-weight: 600;
            font-size: 25px;
            margin: 0;
            margin-left: 10px;
        }
    }

    .body {
        display: flex;
        height: auto;
        align-items: center;
        margin-top: 12px;
        justify-content: space-between;
        //  outline: 1px solid rebeccapurple;
        .amount {
            font-weight: 600;
            font-size: 25px;
            margin: 0;
        }
    }
}

.finalPrompt {
    display: flex;
    width: 100%;
    height: 327px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
        width: 130px;
        object-fit: contain;
        margin-bottom: 20px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 354px;
    }
}

.infoBar {
    display: flex;
    width: 100%;
    height: 111px;
    top: 0;
    position: sticky;
    top: 0;
    z-index: 500;
    background: #f7f7f7;
}
